
body {
    background: url(content/bkg.jpg) no-repeat center top fixed;
    /*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
    background-size: cover;
    /*right: 0;
	top: 0;*/
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#student_logo {
    position: fixed;
    right: 15px;
    bottom: 5px;
    width: 25%;
    transition: width 1s;
}

    #student_logo:hover {
        width: 30%;
        transition: width 1s;
    }

#teacher_logo {
    position: fixed;
    left: 15px;
    bottom: 10%;
    width: 25%;
    transition: width 1s;
}

    #teacher_logo:hover {
        width: 30%;
        transition: width 1s;
    }

@keyframes efuzz_animation
{
	0% {left:0; opacity:0;}
	30% {left:0; opacity:0.2;}
	100% { left: 8%; opacity:1;}
}

#efuzz_logo {
    display: block;
    position: fixed;
    /*left:60px;*/
    left: 0;
    opacity: 0;
    bottom: 5px;
    width: 25%;
    /*animation: efuzz_animation 4s;*/
}


@media (orientation: landscape) {
	#board_bkg {
		display: block;
		margin-right: auto;
		margin-left: auto;
		height: 100%;
	}
	#speech_bubble {
		display: none;
		position: fixed;
		width:43%;
		top:15%;
		margin-left:28.5%;
		margin-right:28.5%;
		/*top:150px;
		bottom:150px;
		left:100px;
		right:100px;*/
	}
	#teacher_login_form {
		display: none;
		text-align: center;
		position: absolute;
		top:30%;
		bottom:130px;
		left:1px;
		right:1px;
		/*margin-left:auto;
		margin-right:auto;*/
	}

	#student_login_form {
		display: none;
		text-align: center;
		position: absolute;
		top:30%;
		bottom:130px;
		left:1px;
		right:1px;
		/*margin-left:auto;
		margin-right:auto;*/
	}
	#signup_form {
		display: none;
		text-align: center;
		position: absolute;
		top:28%;
		bottom:130px;
		left:1px;
		right:1px;
		/*margin-left:auto;
		margin-right:auto;*/
		text-align: center;
		font-size: 120%;
	}
	input {
		text-align: center;
		font-size: 100%;
	}
	.half_input {
		width: 17%;
	}
}

.err_txt {
	/*visibility: hidden;*/
	color: red;
}
